name: Delete Release Assets and Workflow Runs

on:
  workflow_dispatch:

jobs:
  deleteReleaseAssets:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: delete release assets
        uses: dev-drprasad/delete-older-releases@v0.3.2
        with:
          keep_latest: 2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  deleteWorkflowRuns:
    runs-on: ubuntu-latest

    steps:
      - name: Delete workflow runs
        uses: Mattraks/delete-workflow-runs@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          retain_days: 2